* {
  margin: 0;
  padding: 0;
}
.navBar {
  display: flex;
  background-color: green;
  height: 50px;
}
body {
  overflow: hidden;
}
a {
  width: 25%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 15px;
  color: cornsilk;
  text-shadow: 1px 2px black;
}
.navBar > a:hover {
  font-size: large;
}
.vCard {
  align-content: center;
  padding-top: 15%;
  padding-bottom: 15%;
  /* transform: translateY(75%); */
}
.vCard table {
  margin-left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 10cm;
  border-radius: 20px;
}
.vCard > table {
  border: 2px solid rgba(0, 0, 255, 0.6);
}
td {
  padding: 10px;
}
.imageBox {
  width: 100px;
  height: auto;
  padding: 0;
}
.imageBox img {
  height: 100px;
  width: auto;
  border-radius: 25px;
}
.detailsBox {
  height: 100px auto;
  width: auto;
  border-left: 3px solid rgba(0, 0, 0, 0.8);
  border-right: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-weight: bold;
}
